{% extends 'base.html' %}

<html>
<head>
  {% block head %}
  <title> QMLove Homepage </title>
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">QMLove Dating</h1>
      <p class="lead">Where the real love is born.</p>
      <hr class="my-4">
      It takes a few seconds to register and find your soulmate. On the other hand, it takes a lifetime to get over the regret that you did not sign up!
    </div>

    {% if user.is_authenticated %}
    <div class="container">
      <div class="row justify-content-md-center">
        {% for user in similar_interests %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="/profile_images/{{ user.image }}" alt="User profile picture">
            <div class="card-body">
              <h5 class="card-title">{{ user }}</h5>
              <p class="card-text">I am interested in the following hobbies: {% for hobby in user.hobby.all %} {{ hobby }} {% endfor %}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: {{ user.email }}</li>
              <li class="list-group-item">Gender: {{ user.gender }}</li>
              <li class="list-group-item">Date of birth: {{ user.dob }}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}
  {% endblock %}
</body>
</html>
