{% extends 'base.html' %}

<html>
  <head>
      {% block head %}
          <title> QMLove Homepage </title>
      {% endblock %}
  </head>
  <body>
      {% block body %}
        <h2>Sign up</h2>

        <!--
        The form must contain the enctype.
        It is necessary for file (image) upload.
        -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ userForm.as_p }}
            {{ profileForm.as_p }}
            <button type="submit">Sign up</button>
        </form>
      {% endblock %}
  </body>
</html>
